---
title: Projects
style: projects.css
---

{% include header.html %}

<table class="project">
    {% for project in site.data.projects %}
        <tr>
            <td class="image">
                <img src="/resources/img/{{ project.img }}">
            </td>
            <td class="info">
                <h2><a href="{{ project.link }}">{{ project.name }}</a></h2>
                <p>{{ project.summary }}</p>
            </td>
        </tr>
    {% endfor %}
</table>

{% include footer.html %}
