@font-face
{
    font-family: "Geosans";
    src: url(../style/fonts/GeosansLight.ttf) format("truetype");
}

@font-face
{
    font-family: "GeosansItalic";
    src: url(../style/fonts/GeosansLight-Oblique.ttf) format("truetype");
}