@import url("fonts.css");

nav
{
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -100px;
    float: right;
}

nav a
{
    display: block;
    padding: .85em .9em;
    color: #EEEEEE;
    font-family: "GeosansItalic";
    font-size: 1.1em;
    text-decoration: none;
}

nav a:hover
{
    color: #EEEEEE;
}

nav ul
{
    box-shadow: -3px 3px 3px rgba(0,0,0,.2);
    background-color: #4C7EB1;
    background: -webkit-linear-gradient(bottom, #6FA1D4 0%, #4C7EB1 100%);
    background: -moz-linear-gradient(bottom, #6FA1D4 0%, #4C7EB1 100%);
    background: linear-gradient(to bottom, #6FA1D4 0%, #4C7EB1 100%);
    border-radius: 5px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: inline-table;
    list-style: none;
}

nav ul:after
{
    content: "";
    clear: both;
    display: block;
}

nav ul li
{
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
}

nav ul li:hover
{
    background-color: #506983;
}

nav ul li ul
{
    display: none;
    position: absolute;
    border-radius: 0;
    padding: 0;
    top: 100%;
}

nav ul li ul a
{
    padding: .5em 1.5em;
}

nav ul li:hover > ul
{
    display: block;
}

nav ul li ul li
{
    position: relative;
    float: none;
    border-top: 1px solid #9496A0;
    border-bottom: 1px solid #9496A0;
    background-color: #506983;
}

nav ul li ul li:hover
{
    background: #4C7EB1;
}