#main table
{
    margin: 1em 0;
}

#main table tr:first-child
{
    font-size: 1.4em;
}

#main table tr
{
    font-size: 1.3em;
}

#main table li
{
    font-size: 1em;
}

#main table td
{
    vertical-align: top;
}