@import url("fonts.css");

body
{
    background-color: #BBD0E1;
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #506983;
    font-family: "GeosansItalic";
    font-size: 2.2em;
}

h1 + hr
{
    margin: .2em 0;
    height: .6em;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,.5);
}

h2
{
    margin: 0;
    margin-top: .5em;
    padding: 0;
    line-height: 1em;
    color: #506983;
    font-family: "Geosans";
    font-size: 2em;
}

h2 + hr
{
    margin: .2em 0;
    height: 1px;
    border: 0;
    background-color: #506983;
}

h3
{
    margin: .2em 0;
    color: #4C7EB1;
    font-family: "Geosans";
    font-size: 1.5em;
}

p
{
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
    color: #4C7EB1;
    font-family: "Geosans";
    font-size: 1.3em;
}

a
{
    color: #81909C;
    font-family: "GeosansItalic";
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: #EEEEEE;
}

ul
{
    margin: 0 2em;
    padding: 0;
}

li
{
    font-family: "Geosans";
    color: #4C7EB1;
    font-size: 1.3em;
    line-height: 1.4em;
}

img
{
    padding: 0;
    margin: 0;
}

table
{
    font-family: "Geosans";
    font-size: 1.3em;
    color: #4C7EB1;
    margin: .3em 0 .3em 2em;
}

td
{
    padding: .1em .5em;
    padding-left: 0;
    vertical-align: top;
}

td li
{
    font-size: 1em;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 75%;
    min-width: 700px;
    padding: 0 40px;
}

#header
{
    position: relative;
    margin-bottom: 80px;
    height: 200px;
    width: 100%;
    border-top: 5px groove rgba(76,126,177,.7);
    border-bottom: 5px ridge rgba(76,126,177,.7);
    background: #C9DEEE;
    background: -moz-linear-gradient(to right, #93A2AE 0%, #C9DEEE 10%, #C9DEEE 90%, #93A2AE 100%);
    background: -webkit-linear-gradient(to right, #93A2AE 0%, #C9DEEE 10%, #C9DEEE 90%, #93A2AE 100%);
    background: linear-gradient(to right, #93A2AE 0%, #C9DEEE 10%, #C9DEEE 90%, #93A2AE 100%);
}

#header .content
{
    position: relative;
    margin: 0;
    margin-top: 60px;
    right: 25%;
    text-align: right;
}

#header h1
{
    margin: 0;
    position: relative;
    font-family: "Geosans";
    color: #4C7EB1;
    font-size: 3.5em;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
}

#header p
{
    position: relative;
    top: -10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.8em;
    font-style: italic;
}

#header #portrait
{
    position: absolute;
    width: auto;
    height: 170px;
    border-radius: 20px/60px;
    top: -60px;
    right: -150px;
    margin-top: 12px;
    box-shadow: -4px -4px 2px #B0B0B0;
}

#header #portraitbg
{
    position: absolute;
    top: -60px;
    right: -150px;
    margin-top: 2px;
    margin-right: 7px;
    height: 172px;
    width: 125px;
    border-radius: 20px/60px;
    background: #EEEEEE;
}

#main
{
    margin: 0;
}

#main #projects
{
    margin: 2em 0;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}

#main #projects td
{
    text-align: right;
    vertical-align: middle;
    padding: .5em;
}

#main #projects img
{
    float: left;
    margin-left: 10%;
    height: 300px;
}

#footer
{
    position: fixed;
    padding: .5em;
    bottom: 0;
    margin-left: -.5em;
    text-align: center;
    width: 100%;
    cursor: default;
    background-color: rgba(148,181,194,.7);
}

#footer ul
{
    min-width: 35em;
}

#footer ul li
{
    display: inline;
    margin: 1em;
    line-height: 1em;
    font-size: 1.3em;
    color: #EEEEEE;
}

#footer ul li a
{
    color: #EEEEEE;
}

#footer a:hover
{
    color: #4C7EB1;
}