<!DOCTYPE html>
<html>
  <head>
    <title>{% if title %}{{ title }} – {% endif %}Brandon Chinn</title>

    <meta charset="UTF-8">
    <meta name="author" content="Brandon Chinn">
    <meta name="description" content="Brandon Chinn's personal website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Brandon Chinn -- Learning, Creating, and Teaching">
    <meta property="og:image" content="http://brandonchinn178.github.io/resources/fb-logo.png">
    <meta property="og:description" content="Brandon Chinn's personal website">
    <meta property="og:url" content="http://brandonchinn178.github.io">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/resources/favicon.png" meta-type="site-wide">
    <link rel="stylesheet" type="text/css" href="/resources/style.css" meta-type="site-wide">
    <link rel="stylesheet" type="text/css" href="/resources/highlightjs-theme.css" meta-type="site-wide">
  </head>
  <body>
    <header>
        <h1><a href="/">@brandonchinn178</a></h1>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="https://github.com/brandonchinn178">GitHub</a></li>
          <li><a href="https://linkedin.com/in/brandonchinn178">LinkedIn</a></li>
        </ul>
    </header>
    <main>
        {{ content }}
    </main>
  </body>
</html>
