<html>
    <head>
        <title>Brandon Chinn: {{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="author" content="Brandon Chinn">
        <meta name="description" content="Brandon Chinn's personal website">
        <meta property="og:title" content="Brandon Chinn -- Learning, Creating, and Teaching">
        <meta property="og:image" content="http://brandonchinn178.github.io/resources/img/fb-logo.png">
        <meta property="og:description" content="Brandon Chinn's personal website">
        <meta property="og:url" content="http://brandonchinn178.github.io">
        <link rel="icon" type="image/png" href="/resources/img/favicon.png" meta-type="site-wide">
        <link rel="stylesheet" type="text/css" href="/resources/css/base.css" meta-type="site-wide">
        {% if page.home == true %}
            <link rel="stylesheet" type="text/css" href="/resources/css/home.css" meta-type="home-page">
        {% else %}
            <link rel="stylesheet" type="text/css" href="/resources/css/style.css" meta-type="page-wide">
        {% endif %}
        {% if page.style %}
            <link rel="stylesheet" type="text/css" href="/resources/css/{{ page.style }}" meta-type="per-page">
        {% endif %}
        <script src="/resources/js/jquery.js" meta-type="site-wide"></script>
        <script src="/resources/js/script.js" meta-type="site-wide"></script>
        {% if page.script %}
            <script src="/resources/js/{{ page.script }}" meta-type="per-page"></script>
        {% endif %}
    </head>
    <body>
        {% if page.home != true %}
            <header>
                <h1><a href="/">Brandon Chinn</a></h1>
                <div class="menu">
                    <a class="page-link {% if page.title == 'About' %}active{% endif %}" href="/about/">About</a>
                    <a class="page-link {% if page.title == 'Resume' %}active{% endif %}" href="/resume/">Resume</a>
                    <a class="page-link {% if page.title == 'Projects' %}active{% endif %}" href="/projects/">Projects</a>
                    <a class="page-link {% if page.title == 'Contact' %}active{% endif %}" href="/contact/">Contact</a>
                </div>
            </header>
        {% endif %}
        <div class="content">
