---
---

body {
    padding: 2rem 4rem;

    max-width: 80%;
    margin: 0 auto;
    transition: max-width 0.5s;
}
@media (max-width: 800px) {
    body {
        max-width: 100%;
    }
}

header {
    margin-bottom: 1em;
    border-bottom: 1px solid black;

    padding-bottom: 1em;
}

h1 {
    margin: 0;
    font-size: 1.7em;

    a {
        text-decoration: none;
        color: initial;
    }
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

p, li, div {
    line-height: 1.5em;
}

table {
    border-spacing: 0;
    td, th {
        border-bottom: 1px solid black;
        padding: 0.5rem 1rem;
    }
}

pre {
  overflow-x: auto;
  background: #DDD;
  padding: 1.5rem;
}

code.language-plaintext {
    background: #DDD;
    color: #8E0808;
    padding: 0 5px;

    a > & {
        color: unset;
        color: -webkit-link; // unset doesn't work for visited links
    }
}

blockquote {
    margin-inline-start: 1.5rem;
    border-inline-start: 5px solid #DDD;
    padding-inline-start: 1rem;
    color: #555;
}
