---
---

$gray: #aaa;

.banner {
    text-align: center;
    font-style: italic;
}

article {
    padding: 20px 0;

    border-bottom: 1px solid $gray;
    &:last-child {
        border-bottom: none;
    }

    span.date {
        font-size: 1rem;
        font-weight: normal;
        font-style: italic;
    }
}
