---
# Main style
---

@import 'fonts';

@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin blur($amount) {
    -webkit-filter: blur($amount);
    filter: blur($amount);
}

@mixin transition {
    -webkit-transition: 0.5s, width 1s, height 1s;
    transition: 0.5s, width 1s, height 1s;
}

@mixin fade {
    &:hover {
        opacity: 0.7;
    }
}

@mixin mobile {
    @media (max-width: 500px), (max-height: 500px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Amble", "Helvetica Neue", Helvetica, sans-serif;
    background: black;
    color: white;
}

h1, h2 {
    font-family: "Vera", "Arial", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 56px;
    @include mobile {
        font-size: 40px;
    }
}

h2 {
    font-size: 40px;
    @include mobile {
        font-size: 30px;
    }
}

a {
    @include transition;
    @include fade;
    color: white;
    cursor: pointer;
}

.header {
    @include transition;
    @include vertical-align;
    z-index: 100;
    width: 100%;
    text-align: center;
    cursor: default;
    span {
        font-size: 24px;
        @include mobile {
            font-size: 20px;
        }
    }
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
}

// Home page
.section {
    @include transition;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
    overflow: hidden;
    .titles, &:before {
        @include transition;
        @include vertical-align;
        z-index: 1;
        text-align: center;
        width: 100%;
    }
    .titles {
        font-size: 36px;
        opacity: 0;
        cursor: pointer;
        @include mobile {
            font-size: 30px;
            opacity: 1;
        }
    }
    &:before {
        @include blur(1px);
        font: 160px "icomoon";
        color: #444;
        position: absolute;
        @include mobile {
            font-size: 80px;
        }
    }

    // background icons
    &.about:before {
        content: '\ea0c';
    }
    &.resume:before {
        content: '\e923';
    }
    &.projects:before {
        content: '\ea81';
    }
    &.contact:before {
        content: '\e96f';
    }

    &:hover {
        .titles {
            @include fade;
            opacity: 1;
        }
        &:before {
            @include blur(5px);
        }
    }

    // When a page is up
    &.hide {
        .titles {
            display: none;
        }
        &:before {
            opacity: 0;
        }
    }
}

// All pages
.content {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
    font-size: 16px;
    * {
        line-height: 1.5em;
    }
    h1 {
        text-align: center;
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .back {
        display: block;
        width: 100px;
        margin: 30px auto 10px;
        text-align: center;
    }
}

.content.resume {
    h2 {
        margin-top: 20px;
    }
    h3 {
        margin-top: 10px;
    }
    p {
        margin-left: 10px;
        & + ul {
            margin-left: 40px;
        }
    }
    ul {
        margin-left: 25px;
    }
}

.content.projects {
    .project {
        min-height: 175px;
        margin: 10px 0;
        img {
            float: left;
            width: 300px;
            margin: 0 10px;
            @include mobile {
                float: none;
                width: 100%;
                margin: 0;
            }
        }
    }
}

.content.contact {
    p {
        margin: 20px 0;
        font-size: 16px;
        text-align: center;
        a {
            margin: 0 10px;
            text-decoration: none;
            font-size: 32px;
            line-height: 1em;
            &:before {
                font-family: "icomoon";
            }
            &.email:before {
                content: "\ea84";
            }
            &.github:before {
                content: "\eab5";
            }
            &.linkedin:before {
                content: "\eac8";
            }
        }
    }
}