@font-face {
    font-family: "Vera";
    src: url(../fonts/Vera-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Amble";
    src: url(../fonts/Amble-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Amble";
    src: url(../fonts/Amble-Bold.ttf) format("truetype");
    font-weight: bold;
}

@mixin set-font($font-family) {
    font-family: $font-family, "Arial", sans-serif;
}

// @font-face {
//     font-family: "icomoon";
//     src: url(fonts/icomoon.ttf) format("truetype");
// }
