@font-face {
    font-family: "Vera";
    src: url(fonts/Vera-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Amble";
    src: url(fonts/Amble-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Amble";
    src: url(fonts/Amble-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "AmbleLight";
    src: url(fonts/Amble-Light.ttf) format("truetype");
}

@font-face {
    font-family: "icomoon";
    src: url(fonts/icomoon.ttf) format("truetype");
}