---
---

@import "fonts";
@import "colors";
$content-width: 750px;

body {
    @include set-font("Amble");
    margin: 0;
    background: $background-color;
    font-size: 0;
    min-width: $content-width;
}

header {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    a {
        text-decoration: none;
        color: $header-color;
    }
    h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 48px;
    }
    .page-link {
        display: inline-block;
        padding: 6px 20px 5px;
        background: transparent;
        transition: 0.5s background, 0.5s color;
        &.active, &:hover {
            color: $background-color;
            background: $header-color;
        }
    }
}

.content {
    box-sizing: border-box;
    font-size: 16px;
    width: $content-width;
    margin: 10px auto;
    padding: 20px;
    background: #fafafa;
    color: $content-color;
    * {
        margin: 0;
        padding: 0;
    }
    a {
        color: inherit;
        &:hover {
            color: lighten($content-color, 40);
        }
    }
    ul {
        padding-left: 20px;
    }
}
