---
title: About
style: about.css
---

{% include header.html %}

<img class="headshot" src="/resources/img/headshot.jpg">
<p>Hello! My name is Brandon, and I'm originally from Irvine, CA, but I'm really a Northern Californian at heart. I graduated class of 2017 at UC Berkeley with a major in Computer Science and minor in Education, and I'm currently working at LeapYear Technologies based in Berkeley, CA. I hope to bring my passion for learning, coding, and teaching wherever I am, to everyone around me. I also hope to develop some cool stuff along the way. I am an active member of the <a href="http://lw.church">Livingwater Church at Berkeley</a> and enjoy playing guitar and working on side projects in my spare time.</p>

<h2>Quick Facts</h2>
<div class="quick-facts">
    {% for fact in site.data.quick_facts %}
        <p><span class="label">{{ fact.label }}</span>: {{ fact.content }}</p>
    {% endfor %}
</div>

{% include footer.html %}
