---
title: Resume
style: resume.css
script: resume.js
---

{% include header.html %}

<p>My resume is also available for <a href="https://www.dropbox.com/s/dvzh9e02nwbski1/Resume.pdf?dl=1">download</a>!</p>

<div class="education">
    <h1>Education</h1>
    <h2>University of California, Berkeley</h2>
    <p class="year">2013 &ndash; 2017</p>
    <p class="major">Computer Science; Minor in Education (Cal Teach)</p>
    <p class="gpa">GPA: {{ site.data.classes.gpa }}</p>
    <p><a class="show-courses" href="#">View Course List</a></p>

    <!-- course list -->
    <div class="courses">
        <div class="container">
            <p class="hide-courses-container"><a class="hide-courses" href="#">Hide Course List</a></p>
            {% for semester in site.data.classes.schedule reversed %}
                <h3>{{ semester.title }}</h3>
                <ul>
                    {% for class in semester.classes %}
                        <li><span class="label">[{{ class.id }}]</span> {{ class.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>

<div class="skills">
    <h1>Technical Skills</h1>
    {% for skill in site.data.technical_skills %}
        <h2>{{ skill.name }}</h2>
        <ul>
            <li>{{ skill.languages|join:", " }}</li>
            <li>{{ skill.libraries|join:", " }}</li>
        </ul>
    {% endfor %}
</div>

<div class="experience">
    <h1>Experience</h1>
    {% for info in site.data.experience %}
        {% if info.link %}
            <h2><a href="{{ info.link }}">{{ info.label }}</a></h2>
        {% else %}
            <h2>{{ info.label }}</h2>
        {% endif %}
        <h3>{{ info.start }} &ndash; {{ info.end }}</h3>
        <ul>
            {% for detail in info.details %}
                <li>{{ detail }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="qualities">
    <h1>Qualities</h1>
    {% for quality in site.data.qualities %}
        <h2>{{ quality.label }}</h2>
        {% for example in quality.examples %}
            <h3>{{ example.name }}</h3>
            <ul>
                {% for detail in example.details %}
                    <li>{{ detail }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>

{% include footer.html %}
