$theme-white: #fafafa;
$theme-black: #1a232b;
$theme-gray-dark: #555;
$theme-gray: #aaa;
$theme-gray-light: #ddd;

$theme-blue: #37617d;
$theme-blue-light: #e3ebf2;

$theme-purple: #764797;

$theme-red: #d42f2f;
